$color-blue: #2196f3;
$color-white: #ffffff;
$color-bacground: #f5f4fa;
$color-gray: #757575;
$color-section: #2f303a;
$color-black: #212121;
$color-studio: #000000;
$color-border: #ececec;
$color-team: #f5f4fa;
$color-border: #eeeeee;
$color-border-svg: #afb1b8;
$color-button: #054da3;

$familyRoboto: 'Roboto', sans-serif;
$familyRaleway: 'Raleway', sans-serif;

$fontSmall: 500;
$fontMedium: 700;
$fontBig: 900;
