$main-color: #212121;
$white-color: #ffffff;
$blue-color: #2196f3;
$gray-color: #757575;
$light-gray-color: rgba(117, 117, 117, 0.5);
$background-color-dark: #2f303a;
$background-color-gray: #f5f4fa;
$opacity-color: rgba(255, 255, 255, 0.6);
$color-studio: #000000;
$color-border: #ececec;
$color-team: #f5f4fa;
$color-border: #eeeeee;
$color-border-svg: #afb1b8;
$color-button: #054da3;

$familyRoboto: 'Roboto', sans-serif;
$familyRaleway: 'Raleway', sans-serif;

$fontSmall: 500;
$fontMedium: 700;
$fontBig: 900;
